<head>
    <title> Restaurant </title>

    <link rel="icon" href="">
    <link href="style.css" type="text/css" rel="stylesheet"/>
</head>

<body>

    <div class="page">
        <div class="top-container">
            <div class="top">
                <div class="main">
                    <div class="title-container">
                        <div class="title">
                            <h1>Restaurant</h1>
                        </div>
                    </div>
                </div>

                <nav>
                    <ul>
                        <a href="#page-top"><li><h3 class="nav-bar">Restaurant</h3></li></a>
                        <li class="divider"><h4>|</h4></li>
                        <a href="#menus"><li><h3 class="nav-bar">Menus</h3></li></a>
                        <li class="divider"><h4>|</h4></li>
                        <a href="#openings"><li><h3 class="nav-bar">Opening Times</h3></li></a>
                        <li class="divider"><h4>|</h4></li>
                        <a href=""><li><h3 class="nav-bar">Gallery</h3></li></a>
                        <li class="divider"><h4>|</h4></li>
                        <a href=""><li><h3 class="nav-bar">Contact</h3></li></a>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="content">
            <div class="middle-container" id="page-top">
                <div class="slideshow" id="slideshow">
                    <img src="Images/slideshow1.jpeg"/>
                    <img src="Images/slideshow2.jpeg"/>
                    <img src="Images/slideshow3.jpeg"/>
                    <img src="Images/slideshow4.jpeg"/>
                </div>
            </div>

            <div class="welcome">
                <h2>Welcome to the Restaurant</h2>
                <hr>
                <h3>Situated in Edinburgh, blah blah blah</h3>
            </div>

            <div class="menus" id="menus">
                <div class="menu" id="breakfast-menu">
                    <div class="button">
                        <h3 class="menu-button">Breakfast Menu</h3>
                    </div>
                </div>
                <div class="menu" id="lunch-menu">
                    <div class="button">
                        <h3 class="menu-button">Lunch Menu</h3>
                    </div>
                </div>
                <div class="menu" id="dinner-menu">
                    <div class="button">
                        <h3 class="menu-button">Dinner Menu</h3>
                    </div>
                </div>
            </div>

            <div class="opening-times" id="openings">
                <div class="opening-time">
                    <h2>Breakfast</h2>
                    <h4>Mon - Sun</h4>
                    <h4>9am - 12pm</h4>
                </div>
                <hr class="opening-divider">
                <div class="opening-time">
                    <h2>Lunch</h2>
                    <h4>Mon - Sun</h4>
                    <h4>2pm - 5pm</h4>
                </div>
                <hr class="opening-divider">
                <div class="opening-time">
                    <h2>Dinner</h2>
                    <h4>Sun - Thurs</h4>
                    <h4>6pm - 10pm</h4>
                    <h4>Fri - Sat</h4>
                    <h4>6pm - 11pm</h4>
                </div>
            </div>
        </div>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</body>