html, body {
	margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: background-color 1s ease;
    background-color: rgb(20, 20, 20);
}

.top-container {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    z-index: 1;
}

.top {
    padding-top: 1%;
    background-color: white;
    z-index: 1;
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: 21%;
    border-bottom: 2px solid white;
}

.main {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 3em;
    color: teal;
    margin: 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2.5em;
    text-align: center;
    color: teal;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    color: white;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    color: white;
}

hr {
    width: 60%;
    border: 1px solid white;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 0%;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

nav li {
    text-align: center;
    float: left;
    justify-content: center;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    color: white;
    overflow: hidden;
}

a:active, a:hover, a:link, a:visited {
    background: none;
    text-decoration: none;
}

a:hover .nav-bar {
    color: teal;
    text-shadow: 0 0 0.01px teal;
    transition: 0.2s ease;
}

.divider {
    font-size: 1.1em;
}

.divider:hover {
    all: none;
    cursor: default;
}

.slideshow img{
    width: 100%;
    border: none;

    position: absolute;
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
}

#page-top {
    padding-top: 12%;
    margin-top: -12%;
}

.slideshow img:nth-of-type(1) {
    animation-delay: 12s;
}
.slideshow img:nth-of-type(2) {
    animation-delay: 8s;
}
.slideshow img:nth-of-type(3) {
    animation-delay: 4s;
}
.slideshow img:nth-of-type(4) {
    animation-delay: 0s;
}
  
@keyframes multiple-image-crossfade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.welcome {
    padding-top: 35%;
    justify-content: center;
}

.menus {
    overflow: hidden;
    width: 100%;
    padding-top: 10.8%;
    margin-top: -10.8%;
}

.menu {
    background-color: white;
    background-repeat: no-repeat;
    width: calc((100vw/3) - ((100vw - 100%)/3));
    height: 0;
    padding-bottom: calc((100vw/3) - ((100vw - 100%)/3));
    float: left;
    overflow: hidden;
    transition: 0.2s ease;
}

#breakfast-menu {
    background-image: url(Images/breakfast.jpg);
    background-size: 101%;
}

#lunch-menu {
    background-image: url(Images/lunch.jpg);
    background-size: 100%;
}

#dinner-menu {
    background-image: url(Images/dinner.jpg);
    background-size: 100%;
}

.menu-button {
    background-color: rgba(20, 20, 20, 0.9);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.button {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    align-items: center;
    height: calc(100vw/3);
    transition: 0.2s ease;
}

.button:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    background-color: rgba(20, 20, 20, 0.5);
}

.button:hover .menu-button {
    transition: 0.5s ease;
    color: teal;
}

#openings {
    padding-top: 10.8%;
    margin-top: -10.8%;
}

.opening-divider {
    width: 30%;
}

.opening-time {
    padding-bottom: 2%;
}